.container {
    h1 {
        text-transform: uppercase;
    }
    .hidden {
        display: none;
    }
    .clean {
        background: rgb(231, 126, 126);
    }
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    text-transform: uppercase;
    grid-template-areas:
    "count-number name surname home-task"
    "student-count student-count student-count student-count";
}
.count-number { 
    grid-area: count-number;
    justify-self: center;
}

.name { 
    grid-area: name; 
    justify-self: center;
}

.surname { 
    grid-area: surname;
    justify-self: center;
}

.home-task { 
    grid-area: home-task;
    justify-self: center;
}

.student-count { 
    grid-area: student-count;
    .grid-student-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "index-name index-surname index-home-task";
    }
    div {
        ol {
            margin: 0;
            li{
                list-style: upper-roman;
                text-align: center;
                div {
                    p {
                       text-transform: capitalize; 
                    }
                }
            }
        }
    }
    
    
}